body {
    position: relative;
    height: 100vh;
}

/*********************
        HEADER
*********************/
header {
    display: flex;
}

.hide {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

nav li {
    margin: 0;
    text-align: center;
}


nav {
    display: flex;
    width: 1%;
}

#logo-img {
    padding-left: 1rem;
}

#centered {
    padding: 2rem 0;
}

#responsive {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}

/* Hamburger */
@media screen and (min-width: 968px) {

    nav li#responsive {
        display: none;
    }
    
    .collapse {
        display: flex; /* Disposition 'flexible' des éléments */
        gap: 12px;     /* Un espacement de 12px entre les éléments */
        align-items: center; /* Tous les éléments sont alignés verticalement */
    }

}

@media screen and (min-width: 1024px) {

    #logo-img {
        padding-left: 2rem;
    }

    .nav-right {
        position: fixed;
        top: 23rem;
        transform: rotate(90deg);
        right: 0;
        width: 4%;
    }
    
    .nav-left {
        display: flex;
        position: fixed;
        gap: 10rem;
        left: 0;
        bottom: 15rem;
        transform: rotate(-90deg);
        width: 4%;
    }
}


/*********************
        MAIN
*********************/

#titre_main {
    padding: 1rem 0;
}

#herocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
    #herocard {
        margin-top: -3rem;
    }
}

/*********************
        FOOTER
*********************/
#footer {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
}

.icon_rs {
    padding: 0 1%;
}

#container-copyright {
    transform: translateX(8rem);
}

#politique_confid {
    white-space: pre;
    position: absolute;
    left: 14.5rem;
    bottom: 1%;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .icon_rs {
        width: 2rem;
        margin-left: 4rem;
    }
    
    #container-copyright {
        transform: translateX(41rem);
    }

    #politique_confid {
        left: 90rem;
    }
}




