@font-face {
    font-family: 'League Spartan';
    font-weight: 300;
    src: url('/fonts/LeagueSpartan/LeagueSpartan-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'League Spartan';
    font-weight: 700;
    src: url('/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    src: url('/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf') format('truetype')
}
@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    src: url('/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype')
}

.root {

    /* Couleurs variables */

    --color-white: #FFFF;
    --color-black: #262521;
    --color-white-variant: #F2EDE4;
    --color-grey: #BFBAB0;

    /* Font variables */

    --fnt-league: "League Spartan";
    --fnt-libre: "Libre Baskerville";
}



/***********************
        HEADER
***********************/

.side_nav {
    width: 3rem;
    height: 20rem;
}

#logo-img {
    max-width: 5rem;
    max-height: 5rem;
}

.test-li {
    font-family: "League Spartan";
    font-weight: 300;
    font-size: 3em;
}

a {
    text-decoration: none;
    color: var(--color-black);
}
/* Menu Hamburger */

#nav-show img,
#nav-hide img {
    width: 2rem;
}

/*********************
        MAIN
*********************/

#main_img {
    width: clamp(20rem,80vw,35rem);
}

#titre_main {
    font-family: "League Spartan";
    font-weight: 300;
    font-size: clamp(1em, 15vw, 2.5em);
}


/*********************
        FOOTER
*********************/
footer {
    width: 30rem;
}

.icon_rs {
    width: 1rem;
}

#politique_confid,
#cprght_title {
    font-family: "League Spartan";
    font-weight: 300;
    font-size: 1em;
}